$logoColor: #000000;
$navColor: #ffffff;

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $navHeight;
  box-shadow: 0 0 2px rgba(0, 0, 0, .5);
  padding: 1em;
  display: flex;
  align-items: center;
  background: $navColor;
  z-index: 1;

  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .logo-container {
      text-decoration: none;

      .logo {
        font-size: 1.2em;
        margin: 0;
        user-select: none;
        color: $logoColor;
        text-decoration: none;
      }
    }
  }
}
