$navHeight: 3em;
$themeBackgroundColor: linear-gradient(to right, #3e364d 0%, #3a3a52 50%, #2d3a5a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
$btnBackgroundColor: linear-gradient(to bottom, #66b1de 0%, #5b94d9 50%, #4d7dd7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
$btnHoverBackgroundColor: linear-gradient(to bottom, #4d7dd7 0%,#5b94d9 50%,#66b1de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
